.news-heading{
    color: #fff;
    font-size:1.2rem;
    padding:20px;
    font-weight:800;
}
.news-content{
    color:rgba(223, 209, 189, 0.795);
    font-size:0.9rem;
    padding:20px;
    margin-top: 0px;
    padding-top:0px;
    line-height:1.5rem;
    font-weight:600;
}

.news-wrapper{
    background-color:rgb(24, 23, 23);
    width:70%;
    margin:0 auto;
}

.news-wrapper:hover{
    background-color:rgb(58, 57, 56);
}

.the-back-news{
    background-color:black;
}

a{
    color:inherit;
}